:root {
    --primary-color: hsl(248, 45%, 45%);
    --secondary-color: hsl(241, 66%, 15%);
    --tertiary-color: hsl(242, 54%, 29%);
    --quaternary-color: hsl(220, 39%, 40%);
    --quinary-color:hsl(235, 100%, 3%);
}